* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

input,
textarea,
button,
select,
li,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#root {
  position: absolute;
  top: 0;
  left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 12px;
  flex: 1 1 0%;
}
button {
  border: 0;
  cursor: pointer;
  transition: background 0.4s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input,
textarea {
  border: 2px solid #e4e4e4;
  transition: border-color 0.4s ease;
  border-radius: 6px;

  :disabled {
    cursor: not-allowed;
  }

  &::placeholder {
    color: #ccc;
  }
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
  text-decoration: none;
  color: #ffab00;
}

ul,
ol {
  list-style: none;
}

@media print {
  html,
  body,
  #root {
    overflow: initial;
  }

  body,
  .page {
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
    background: transparent !important;
  }

  div {
    break-before: always;
  }
}

@page {
  margin: 0.5cm;
}
